@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body {
  margin: 0;
}

#batty {
  background-color: #6F7380;
  max-width: 950px;
  margin: 50px;
}
#robot {
  background-color: #6F7380;
  max-width: 950px;
  margin: 50px;
}
#collage {
  background-color: #6F7380;
  max-width: 950px;
  margin: 50px;
}
#logo {
  background-color: #6F7380;
  max-width: 950px;
  margin: 50px;
}
#poster {
  background-color: #6F7380;
  max-width: 950px;
  margin: 50px;
}


.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
}


header, footer {
background-color: #6F7380;
font-family:  "Palatino Linotype", "Book Antiqua", Palatino, serif;
color: #DEE5FF;
margin: 0;
}

header {
  text-align: center;
  padding: 50px;
}

h2 {
  font-size: 2em;
  color: #495580;
}

h1 {
  color: #D1F3FF;
  font-family: "Pacifico", cursive;
  font-weight: 100;
  font-variant-ligatures: normal;
  font-size: 4rem;
  letter-spacing: 1px;
  max-height: 950px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  list-style-position: inside;
}

a {
  color: white;
}
a:hover {
  text-decoration: none;
}


.skills  {
background: #DEE5FF;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 1em;
}
.software  {
background: #B1B7CC;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 1em;
}
.web  {
background: #DEE5FF;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 1em;
}

.examples {
  color: #D1F3FF;
  font-size: 2.5em

}
