@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


body {
background-color: #FFC9C2
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1 {
text-align: center;
color: #849159;
  font-family: "Poiret One", sans-serif;
  font-weight: 100;
  font-variant-ligatures: normal;
  font-size: 4rem;
  letter-spacing: 1px;
margin-top: 30px;
}

a {
  color: orange;
}
a:hover{
  text-decoration: none;
}
.resturantname {
  border-bottom: 2px solid #6483B3;
}

h2 {
color: #6483B3;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 2em;
}

.subhead {
  font-size: 1.5em;
}

h3 {
  color: #6483B3;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1.5em;
}
